#list {
    width: 50%;
    margin: auto;
    max-width: 750px;
}

.category {
    margin-bottom: 5px;
}

.roundCornerDown {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow:hidden;
}